.input {
	position: relative;
	margin-bottom: 24px;
}

.input__topline {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}

.input__text {
	opacity: .9;
}

.input__text span {
	margin-left: 4px;
}

.input__length {
	opacity: .7;
}

.input__field {
	width: 100%;
	height: 48px;
	padding: 16px;
	border: 1px solid rgba(64, 73, 96, 0.3);
	border-radius: 2px;
	font-size: 14px;
}

textarea.input__field {
	min-width: 100%;
	max-width: 100%;
	min-height: 240px;
}

.input__error {
	position: absolute;
	top: 40px;
	right: 0;
	display: flex;
	align-items: center;
	width: 220px;
	height: 48px;
	padding: 5px 20px;
	background-color: #D56161;
	border-radius: 2px;
	box-shadow: 3px 3px 5px rgba(64, 73, 96, 0.4);
	font-size: 12px;
	line-height: 1.6;
	color: #fff;
	transform: translateX(110%);
}

.input__error::before {
	content: '';
	position: absolute;
	top: 0;
	left: -10px;
	border-right: 11px solid #D56161;
	border-top: 24px solid transparent;
	border-bottom: 24px solid transparent;
}

.red {
	opacity: 1;
	border-color: #D56161;
	color: #D56161;
}