body {
  margin: 0;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
  color: #404960;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.num-page {
  padding: 0 3px;
  cursor: pointer;
}
.num-page:not(:last-of-type)::after {
  display: inline-block;
  content: '';
  width: 3px;
  height: 3px;
  transform: translate(3px, -4px);
  background-color: #000;
  border-radius: 50%;
}

.num-page:not(.selected):hover {
  background-color: #ccc;
}

.num-page.selected {
  font-weight: bold;
  cursor: default;
}
.user {
  display: flex;
  justify-content: space-between;
}

.user:nth-of-type(even) {
  background-color: #ddd;
}

.user__link {
  color: inherit;
  text-decoration: none;
}

.user__link:hover {
  color: green;
  text-decoration: underline;
}

.user__followed:hover {
  cursor: pointer;
  text-decoration: underline;
}

.preloader-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  max-height: 80vh;
  height: 100%;
}

.status {
  display: flex;
  align-items: center;
}

.status__name {
  margin-right: 10px;
  font-weight: bold;
}

.status__input {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  line-height: 25px;
  font-size: 14px;
}

.status__text {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  border: 1px solid lightgray;
  line-height: 25px;
  font-size: 14px;
  cursor: pointer;
}

.status__text:hover {
  background-color: lightgray;
}